body {
  background: #000;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 30px;
  color: #ff004f;
}

h3.error-message {
  color: #ff004f;
  font-size: 1rem;
}

.filter-buttons button {
  background-color: #34495e;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 10px;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: #ff004f;
}

.task-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.task-category {
  flex: 1;
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.task-card {
  background-color: #2e2e2e;
  border-radius: 10px;
  padding: 20px;
  min-width: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.task-card h4 {
  font-size: 1.25rem;
  color: #ff004f;
}

.task-card p {
  font-size: 1rem;
  margin: 10px 0;
  color: #ccc;
}

.due-date {
  font-size: 0.875rem;
  color: #ccc;
}

button {
  background-color: #ff004f;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e60043;
}

button:focus {
  outline: none;
}

.add-task-form {
  margin-top: 30px;
  background-color: #34495e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 60%;
  max-width: 600px;
}

.add-task-form input,
.add-task-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #2e2e2e;
  color: white;
}

.add-task-form button {
  width: 100%;
  padding: 12px;
  background-color: #ff004f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.add-task-form button:hover {
  background-color: #e60043;
}
