:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Ensure the height spans the full viewport */
  background-color: #121212; /* Add background color for contrast */
}

a {
  text-decoration: none;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #ffffff; /* Ensure text contrasts with the dark background */
}

.header {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-button {
  padding: 10px 20px;
  background-color: #121212;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #121212;
}

.board {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  flex: 1;
}

.board-column {
  flex: 1;
  min-width: 250px;
  background-color: #121212;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-column h2 {
  margin-bottom: 10px;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.add-task-container input,
.add-task-container textarea {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-task-container button {
  padding: 10px 20px;
  background-color: #e91e63;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-task-container button:hover {
  background-color: #ff4081;
}
